@{
    ViewData["Title"] = "ERP";
}


<h1>Usuários</h1>

<div>

    <div class="container-fluid">

        <h2 class="warning">Não há usuários cadastrados.</h2>

    </div>

    
    <div>
        <hr />

        <button class="btn-primary" onclick="window.open('www.google.com');">Incluir usuário</button> 
        <button class="btn-primary" onclick="history.back();"> Voltar</button>

    </div>

</div>