@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ERP";
}



<div class="container">

    <h1>Usuários</h1>

    <div class="container-fluid">

        <h5 class="warning">Não há usuários cadastrados.</h5>

    </div>

    
    <div>
        <hr />

        <button class="btn btn-primary" onclick="window.open('../User/UserAddOrUpdate', '_self');">Incluir usuário</button> 

        <button class="btn btn-primary" onclick="window.open('../Home', '_self');"> Voltar</button>
    </div>

</div>