@{
    ViewData["Title"] = "ERP";
}



<div class="container">

    <h1>Usuários</h1>

    <div class="container-fluid">

        <h5 class="warning">Não há usuários cadastrados.</h5>


    </div>

    
    <div>
        <hr />

        <button class="btn btn-primary" onclick="window.open('http://www.google.com');">Incluir usuário</button> 
        <button class="btn btn-primary" onclick="history.back();"> Voltar</button>

    </div>

</div>