@{
    ViewData["Title"] = "ERP";
}



<div class="container">


    <div class="container-fluid">

        <form>
            <fieldset>
                <h1>Usuários</h1>

                <label>Login</label>
                <input type="text" maxlength="20" placeholder="Digite seu login." />
                <label>Senha</label>
                <input type="password" maxlength="10" placeholder="Digite sua senha." />
                <label>Repita Senha</label>
                <input type="password" maxlength="10" placeholder="Digite sua senha novamente." />

                <button type="submit">Salvar</button>

            </fieldset>

            <hr />
            
        </form>
    </div>



</div>